<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxq.kudu.orm.demo.dao.StudentDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lxq.kudu.orm.demo.domain.Student">
        <result column="s_id" property="sId"/>
        <result column="s_name" property="sName"/>
        <result column="s_age" property="sAge"/>
        <result column="s_sex" property="sSex"/>
    </resultMap>

    <insert id="add">
        INSERT INTO student_kudu (s_id, s_name, s_age, s_sex)
        VALUES (#{entity.sId,jdbcType=VARCHAR},
                #{entity.sName,jdbcType=VARCHAR},
                #{entity.sAge,jdbcType=INTEGER},
                #{entity.sSex,jdbcType=INTEGER})
    </insert>

    <insert id="upsert">
        UPSERT INTO student_kudu (s_id, s_name, s_age, s_sex)
        VALUES (#{entity.sId,jdbcType=VARCHAR},
        #{entity.sName,jdbcType=VARCHAR},
        #{entity.sAge,jdbcType=INTEGER},
        #{entity.sSex,jdbcType=INTEGER})
    </insert>

    <update id="update">
        UPDATE student_kudu SET s_name = #{entity.sName},
                                s_age = #{entity.sAge},
                                s_sex = #{entity.sSex}
        WHERE s_id = #{entity.sId}
    </update>

    <delete id="delete">
        DELETE FROM student_kudu WHERE s_id = #{sId}
    </delete>

    <select id="find" resultMap="BaseResultMap">
        SELECT *
        FROM student_kudu
        WHERE s_id = #{sId}
    </select>
</mapper>
